[Unit]
Description=FIP_lastfm_mirror.service

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/FIP_lastfm_mirror
ExecStart=%h/Documents/FIP_lastfm_mirror/.venv/bin/FIP_lastfm_mirror

[Install]
WantedBy=multi-user.target
