[Unit]
Description=Run the FIP_mirror script every minute.

[Timer]
OnCalendar=*:*:0/10
Persistent=True
AccuracySec=1sec

[Install]
WantedBy=timers.target
